[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
bs4 = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.8.6"
